
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

  * {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Mono', monospace;
     background-color: rgb(218, 212, 208);
  }

  h1 {
    font-size: 35px;
    color: rgb(18, 202, 141);
   

  }
